@model Category
@{
    ViewData["Title"] = "New Category";
}

<form method="post">
    <div class="border border-black p-3 mt-4">
        <div class="row text-center">
            <h2 class="text-primary">
                Create New Category
            </h2>
            <hr />
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"   >

        </div>
        <div class="mb-3 row p-1">
            <label class="form-label" asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <span class="text-danger" asp-validation-for="Name"> </span>
        </div>
        <div class="mb-3 d-flex justify-content-around p-1">        
            <a class="btn btn-outline-warning" style="width:40%" asp-action="Index">Back To List</a>
            <button class="btn btn-outline-success" style="width:40%" type="submit" asp-controller="Categories" asp-action="Create">Add</button>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></>
}