@model IEnumerable<Product>
@{
    ViewData["Title"] = "Products List";
}

<div class="container mt-5">
    <div class="card row">
        <div class="card-header row m-0">
            <div class="col-6">
                <h2 class="text-primary">
                    Products List
                </h2>
            </div> 
            <div class="col-6 text-end">
               <a class="btn btn-primary" asp-controller="Products" asp-action="Upsert">Add New Product</a>
            </div>
           
        </div>
        <div class="card-body">
            <table id ="dtaTable" class="table table-striped table-bordered">
               <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Options</th>
                    </tr>
               </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/js/toastr.min.js"></script>
    <script src="/js//product.js" asp-append-version="true"></script>
}